.cursor-pointer {
    cursor: pointer;
}

.hover-shadow {
    transition: box-shadow 0.3s ease;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
}

/* For the arrow */
.card-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
    gap: 2rem;
    border: 1px solid #e0e0e0; 
    border-bottom: none;
}


.card-body > img {
    /* width: 100px; */
    height: 100px;
}

.card-body .card-arrow {
    font-size: 30px;
    color: #666;
    margin-left: auto; 
}